<h1 class="display-4">Add Product to Cart</h1>
<form method="post" action="/addToCart">
  <div class="form-group">
    <label for="productName">Name</label>
    <input
      type="text"
      name="productName"
      class="form-control"
      value="<%=productName%>"
      disabled
    />
  </div>
  <div class="form-group">
    <label for="qty">Example select</label>
    <select class="form-control" name="qty">
      <% for(var i = 1; i<=qtyMax; i++) { %>
      <option><%=i%></option>
      <%}%>
    </select>
  </div>
  <input type="hidden" name="productID" value="<%=productID%>" />
  <input type="hidden" name="productName" value="<%=productName%>" />
  <input type="hidden" name="productPrice" value="<%=productPrice%>" />
  <input type="submit" value="Add" class="btn btn-primary" />
</form>
